.lab-selection-form form {
  overflow: visible;
}

.lab-order-entry {
  /* Icon styles */
}
.lab-order-entry .button:hover,
.lab-order-entry button:hover,
.lab-order-entry input[type=submit]:hover,
.lab-order-entry input[type=button]:hover,
.lab-order-entry input[type=submit]:hover,
.lab-order-entry a.button:hover {
  background-color: #D3D3D3 !important;
}
.lab-order-entry .button, .lab-order-entry button {
  outline: none;
}
.lab-order-entry .active {
  border: 2px solid #009384 !important;
}
.lab-order-entry .lab-category > ul li a {
  display: block;
  text-align: center;
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: rgb(255, 255, 255);
  border-top: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  position: relative;
  outline: none;
}
.lab-order-entry .lab-category > ul li:last-child a {
  border-bottom: 1px solid #EBEBEB;
}
.lab-order-entry .lab-category > ul li a:hover {
  background: #D3D3D3;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}
.lab-order-entry .active-category {
  background: #D3D3D3 !important;
}
.lab-order-entry .active-category:before {
  content: " ";
  position: absolute;
  right: -1px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFF;
}
.lab-order-entry .panel-box, .lab-order-entry .tests-box {
  display: flex;
  flex-wrap: wrap;
}
.lab-order-entry .lab-tests-btn {
  word-wrap: break-word;
  font-size: 73%;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
}
.lab-order-entry .lab-tests-btn:nth-child(even) {
  width: 47%;
}
.lab-order-entry .lab-tests-btn:nth-child(odd) {
  width: 47%;
  margin-right: 6%;
}
.lab-order-entry .draft-lab-layout {
  width: 100%;
}
.lab-order-entry .h5-draft-header {
  font-size: 0.8rem;
}
.lab-order-entry .modified-btn {
  padding: 5px 10px !important;
}
.lab-order-entry .draft-list-container li.draft-list {
  background: #EBEBEB;
  padding: 0 0 0 10px;
  margin: 5px 0px;
  border-radius: 5px;
}
.lab-order-entry .draft-list-container li.draft-list:hover {
  background: #D3D3D3;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}
.lab-order-entry .stay-right {
  position: absolute;
  right: 10px;
}
.lab-order-entry .action-btn-wrapper {
  display: flex;
  width: 80px;
}
.lab-order-entry .action-btn {
  cursor: pointer;
  width: 50%;
  height: 100% !important;
  border-left: 1px #d0d0d0 solid;
  display: inline-flex;
  justify-content: center;
  padding: 0.7em;
  transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;
}
.lab-order-entry .action-btn #draft-discard-btn {
  color: #ff3d3d;
}
.lab-order-entry .action-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.lab-order-entry .action-btn:hover a i.scale {
  display: inline-block;
  text-decoration: none;
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
}
.lab-order-entry .i-gray {
  color: gray;
}
.lab-order-entry .i-red {
  color: red;
}

/*# sourceMappingURL=labOrder.css.map */
